.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.stats {
  width: 100%;
}

.tip {
  margin-top: 200px;
  font-size: 12px;
  color: rgba(0,0,0,.8);
  position: absolute;
  bottom: 0;
  right: 0;
}