<div class="modal c" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
      </div>

      <div class="modal-body">
        {{ content }}
        <p>W grze spędziłeś łącznie : <span *ngIf="timeSpent">{{ timeSpent[0] > 0 ? timeSpent[0] + 'minut' : '' }} {{timeSpent[1]}}sekund</span>  </p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click) = "hide()">Zagraj ponownie</button>
      </div>
      
    </div>
  </div>
</div>
