.main {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}

.wrapper-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.image-wrapper {
  margin-left: 50px;
  min-width: 300px;
}

.success, .danger {
  color: green;
  font-size: 30px;
  font-weight: 700;
  &.danger {
    color: red;
  }
  .new-game {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      background-color: darken(red, 20%);
    }
  }
}