<div class="app-wrapper">
  <app-welcome></app-welcome>
  <div class="main-content">
    <app-game-content (showStatus)='status = $event' #gameContent></app-game-content>
    <app-image></app-image>
  </div>
  <div class="feedback-wrapper">
    <p class="success" *ngIf="status === 'grats'">Gratulacje, udało Ci się odgadnąć słowo! :) </p>
    <p class="danger" *ngIf="status === 'gameOver'" >Game Over - <span class="new-game" (click)='content.resetData()'>Zacznij od nowa</span> </p>
  </div>
</div>
