@import '../variables.scss';

.app-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-around;

  @include laptop {
    width: 60%;
    flex-direction: row;
  }

}

.feedback-wrapper {
  margin-top: 50px;
}

.success, .danger {
  color: $my-green;
  font-size: 16px;
  font-weight: 700;

  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
  }
  &.danger {
    color: $my-red;
  }
  .new-game {
    background-color: $my-red;
    color: $my-white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      background-color: darken($my-red, 20%);
    }
  }
}