$my-green: #51A567;
$my-red: rgb(240, 25, 25);
$my-white: rgb(250, 248, 248);



@mixin darkenBackground($color) {
  &:hover {
    background-color: darken($color, 20%);
  }
}



@mixin tablet {
  @media (min-width: 568px) { @content; }
}
@mixin laptop {
  @media (min-width: 992px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}